{{ id }}.reactive:hover {
  fill-opacity:  {{ style.opacity_hover }};
}

{{ id }}.inner_label {
    font-size: 3em;
    alignment-baseline: middle;
}

{{ id }}.title {
    fill: #005689;
    font-weight: bold;
}

{{ id }}.axis text.major {
  stroke: 0;
  fill: {{ style.foreground }};
}

{{ id }}.text-overlay {
  font-weight: bold;
}
