<!DOCTYPE html>
<html>
<head>
  <title>DOUGHNUTS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/egyptian.css" />
</head>

<body>
	<div class="container">
	<a class="logo" href="/">doughnuts</a>

<%= yield %>

</div>
</body>
</html>